<form action="{% url 'index' %}" method="post">
  {% csrf_token %}
  <input id="search" type="text" name="search">
  <input type="submit" value="search">
</form>

<h4><a href="{% url 'getCart' %}">Cart({{ cartCount }})</a></h4>

{{ results.resultCount }} Results Found....
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Version</th>
    <th>Price</th>
    <th></th>
  </tr>
{% for app in results.results %}
  <tr>
    <td><a href="{% url 'app' app.trackId %}">{{ app.trackCensoredName }}</a></td>
    <td>{{ app.description | truncatewords:20 }}
    <td>{{ app.version }}</td>
    <td>{{ app.formattedPrice }}</td>
    <td><a href="{% url 'addToCart' app.trackId %}">Add to Cart</a></td>
  </tr>
{% endfor %}
</table>
